.Segments, .inspectionTimer {
    display: flex;
    justify-content: center;
    font-size: 6rem;
    font-family: 'Orbitron', sans-serif;
}

.millisecondSegment {
    font-size: 0.75em;
    padding-top: 1.5rem;
}

.Timer {
    padding-top: 5rem;
}
