.Header {
    height: 12%;
    display: flex;
}

.Title {
    color: rgb(0, 0, 0);
    font-size: 3rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 1rem;
}

img {
    margin-left: 1rem;
}

@media (max-width: 480px) {
    .Title {
        font-size: 2rem;
    }
}